@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

body {
  background-color: rgb(65, 2, 73);
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
  text-transform: uppercase;

  .App {
    width: 400px;
    margin: 15px auto;
    background-color: #222831;
    border-radius: 15px;
    max-height: 97vh;

    .title {
      text-align: center;
      color: #fafafa;
      text-decoration: none;
      margin: 0px 0px;
      padding: 20px 0;
      font-size: 2rem;

      &:hover {
        color: #ffe593;
      }
    }

    .info-container {
      background-color: #222831;
      border-radius: 15px;

      .info-fetched {
        display: flex;
        justify-content: center;

        width: 150px;
        margin: 0 auto;
        text-align: left;
      }

      .sprite {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        border: 5px solid #272133;
        margin: 20px 0px 25px 0px;
        box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
        outline: none;
      }

      .pokeName {
        font-size: 2rem;
        color: white;
        margin-bottom: 10px;
        text-align: center;
      }

      .pokeNumber {
        font-size: 1.2rem;
        color: white;
        margin-bottom: 20px;
      }

      .pokeTypeContainer {
        margin: 10px 0;
        .Type {
          font-size: 2rem;
          margin-bottom: 10px;
          color: white;
          text-align: left;
        }
        .pokeType {
          color: white;
          text-align: left;
        }
      }

      .a {
        color: white;

        .weakness,
        .effectiveness {
          margin: 10px 0px 10px 0px;
        }

        .pokeInfo {
          font-size: 2rem;
          margin-bottom: 10px;
          text-align: left;
        }

        .fetchdata-style {
          color: #fafafa;
          font-size: 1rem;
          text-align: left;
        }

        &:last-of-type {
          padding-bottom: 10px;
        }
      }
    }
  }
}
