body {
  box-sizing: border-box;
  font-family: cursive;
}

div {
  width: 500px;
  margin: 0 auto;
}

.search-button {
  width: 65%;
  background-color: lightblue;
  border: 1px solid black;
  
}

.search-bar {
  width: 65%;
}
